{% extends "base.html" %}
{% block title %}{{ article.title|striptags }}{% endblock %}
{% block content %}
<section id="content" >
    <div class="body">
      <article>
        <header>
          <h1 class="entry-title">
            <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark"
               title="Permalink to {{ article.title|striptags }}">{{ article.title}}</a></h1>
		<!-- Place this tag where you want the +1 button to render. -->
		<div class="g-plusone" data-size="tall"></div>


        </header>

        <div class="entry-content">
          {% include 'article_infos.html' %}
          {{ article.content }}
        </div><!-- /.entry-content -->
        {% include 'twitter.html' %}
        {% if DISQUS_SITENAME %}
        <div class="comments">

          <div id="disqus_thread"></div>
          <script type="text/javascript">
            var disqus_identifier = "{{ article.url }}";
            (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = 'http://{{ DISQUS_SITENAME }}.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
            })();
          </script>
        </div>
        {% endif %}

<!-- Place this tag after the last +1 button tag. -->
	<script type="text/javascript">
  	(function() {
    	var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    	po.src = 'https://apis.google.com/js/platform.js';
    	var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  	})();
	</script>
<!-- google plus comments-->
{% if GOOGLE_PLUS_API_KEY %}
<script type="text/javascript">
jQuery.noConflict();
jQuery(document).ready(function() {
    //$post_title = $('header .entry-title').text();
    //$post_domain = document.domain;
    if( jQuery('article').hasClass('hentry') )
    {
        $post_link = encodeURI(jQuery(location).attr('href'));
        $gp_url = jQuery('.googleplus h1 a').attr('href');
        $google_plus_id = $gp_url.split('/')[3].split('?')[0] ;
        $google_query_url = "https://www.googleapis.com/plus/v1/activities?query=" +
                            $post_link +
                            "&maxResults=20&orderBy=best&fields=id%2Citems(actor(displayName%2Cid%2Curl)" +
                            "%2Cid%2Cobject(attachments(id%2Curl)%2Curl))%2Ctitle&key={{ GOOGLE_PLUS_API_KEY }}";
        jQuery.getJSON($google_query_url,
            function(data) {
                jQuery.each(data.items, function(i,item){
                    if(item.actor.id == $google_plus_id)
                    {
                        jQuery('.entry-content').append( "<h3>Comments?</h3><p>Join the discussion at the <a href='" + item.object.url +"'>Google+ post</a></p>");
                        return false;
                    }
                });
            });
    };
});
</script>

{% endif %}

	<div id="commentswrap">
	<div id="comments"></div>
	</div>
	{{ article.metadata.googleplus_comments }}
      </article>
    </div>
</section>
{% endblock %}
